workflow.json
{
  "name": "web-scraper",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        144,
        -16
      ],
      "id": "80a01b91-f858-4e23-b25a-589e7b5fdbbb",
      "name": "Start"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17Rr6ignSh1Mj9JCYkEf-8hRejFJtj9xQSJBYenJtB6I",
          "mode": "list",
          "cachedResultName": "source-file",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Rr6ignSh1Mj9JCYkEf-8hRejFJtj9xQSJBYenJtB6I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Rr6ignSh1Mj9JCYkEf-8hRejFJtj9xQSJBYenJtB6I/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        -16
      ],
      "id": "3b5e508f-f318-4eea-9140-cd0d14bced25",
      "name": "Get urls",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1IIlkZP00B4gxs58",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Scrape the following data:\n\n {{ $json.data }}",
        "options": {
          "systemMessage": "You are a webscraping assistant. Your task is to take the raw markdown of a website and convert it into structured data. Use the following format:\n{\n \"links\": [\"array\", \"of\", \"urls\"],\n \"plainTextWebsiteCopy\": \"long string containing just the text of the site, no formatting\",\n \"summary\": \"one line summary of the website\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1088,
        -16
      ],
      "id": "91019653-d700-4f51-8bca-19d4195700a2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1088,
        160
      ],
      "id": "23c81205-dbaf-4bc6-a37c-fb245c64fea1",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "eVnh7cuiyuXSLWUR",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "content": "Get urls, making requests and parsing html to markdown\n",
        "height": 320,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        -112
      ],
      "typeVersion": 1,
      "id": "8817c5bb-2432-44a1-9295-b3586dfd040a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        816,
        -16
      ],
      "id": "5c7f7d01-1c04-4948-95da-5ad1c2a2608b",
      "name": "Parsing"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -16
      ],
      "id": "c48ebea9-88da-4baf-aeb3-0eeefb133b3b",
      "name": "Request to URLs"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get urls": {
      "main": [
        [
          {
            "node": "Request to URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parsing": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request to URLs": {
      "main": [
        [
          {
            "node": "Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dbfb8504-0b54-4879-b9b2-8e1ff7af5c21",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c4941dd54982aa147f5b3a7c5eda75e664923297e950b807c3b541a9d9151d2"
  },
  "id": "3TQRv9XXjND1jGXU",
  "tags": []
}